In [25]:
import numpy as np

import matplotlib.pyplot as plt
import string
import warnings
warnings.filterwarnings('ignore')
import seaborn as sns
sns.set(style="darkgrid")
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import OneHotEncoder, LabelEncoder, StandardScaler
from sklearn.metrics import roc_curve, auc
from sklearn.model_selection import StratifiedKFold
SEED = 42

In [26]:
import pandas as pd
def concat_df(train_data, test_data):
     # Returns a concatenated df of econDamage and numEvents set
    return pd.concat([train_data,test_data],sort=True).reset_index(drop=True)

def divide_df(all_data):
    # Returns divided dfs of train
    # ng and test set
    return all_data.loc[:890], all_data.loc[891:].drop(['Survived'], axis=1)

df_econDamage = pd.read_csv('/Users/shuwang/PycharmProjects/shu-projectx/data/economic-damage-from-natural-disasters.csv')
df_numEvents = pd.read_csv('/Users/shuwang/PycharmProjects/shu-projectx/data/number-of-natural-disaster-events.csv')
df_all = concat_df(df_econDamage,df_numEvents)
df_econDamage.name = 'Economic Damage from Natural Disasters Set'
df_numEvents.name = 'Number of Natural Disaster Events Set'
df_all.name = 'All Set'

dfs = [df_econDamage,df_numEvents]
print('Number of Economic Damage Examples = {}'.format(df_econDamage.shape[0]))
print('Number of Events Examples = {}\n'.format(df_numEvents.shape[0]))

print('Economic Damage X Shape = {}'.format(df_econDamage.shape))
print('Economic Damage Y Shape = {}\n'.format(df_econDamage.shape[0]))

print('Events X Shape = {}'.format(df_numEvents.shape))
print('Events Y Shape = {}\n'.format(df_numEvents.shape[0]))
print(df_econDamage.columns)
print(df_numEvents.columns)

Number of Economic Damage Examples = 561
Number of Events Examples = 828

Economic Damage X Shape = (561, 4)
Economic Damage Y Shape = 561

Events X Shape = (828, 4)
Events Y Shape = 828

Index(['Entity', 'Code', 'Year',
       'Total economic damage from natural disasters (US$)'],
      dtype='object')
Index(['Entity', 'Code', 'Year',
       'Number of reported natural disasters (reported disasters)'],
      dtype='object')

In [27]:
print(df_econDamage.info())
df_econDamage.sample(3)

print(df_numEvents.info())
df_numEvents.sample(3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 561 entries, 0 to 560
Data columns (total 4 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   Entity                                              561 non-null    object
 1   Code                                                0 non-null      float64
 2   Year                                                561 non-null    int64
 3   Total economic damage from natural disasters (US$)  561 non-null    int64
dtypes: float64(1), int64(2), object(1)
memory usage: 17.7+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 828 entries, 0 to 827
Data columns (total 4 columns):
 #   Column                                                     Non-Null Count  Dtype
---  ------                                                     --------------  -----
 0   Entity                                                     828 non-null    object
 1   Code                                                       0 non-null      float64
 2   Year                                                       828 non-null    int64
 3   Number of reported natural disasters (reported disasters)  828 non-null    int64
dtypes: float64(1), int64(2), object(1)
memory usage: 26.0+ KB
None

,Entity,Code,Year,Number of reported natural disasters (reported disasters)
317,Extreme temperature,NaN,1968,2
277,Earthquake,NaN,1989,19
236,Earthquake,NaN,1948,5